<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/normailze.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap"
      rel="stylesheet"
    />
    <title>Step two</title>
  </head>

  <body>
    <header class="end_page">
      <span class="end_page_thanks"> Спасибо за Ваши ответы! </span>
      <p class="end_page_recorting">
        Мы подготовили для Вас персональную аудио запись с Вашим прогнозом.
      </p>
      <img class="end_page__arrow" src="../../assets/arrow_bottom.svg" alt="" />
    </header>

    <!--  -->
    <section class="end_block">
      <h2 class="end_block__title">
        Вы можете узнать, как повлиять на события, которые ожидают вас в
        ближайшем будущем.
      </h2>
      <div class="end_block_event">
        <p class="end_block_event_ev_title">
          Первое значимое <br />событие может<br />произойти уже 14.02.2021,
        </p>
        <span class="end_block_event_ev_info"
          >вам надо быть готовым, что бы последствия не оказались необратимыми.
        </span>
      </div>
      <p class="end_block__enter">
        Нажмите на кнопку ниже прямо<br />сейчас и наберите наш номер<br />телефона.
        Прослушайте важную<br />информацию!
      </p>
      <button class="end_block__coll_lisen">Позвонить и прослушать</button>
    </section>

    <footer class="footer">
      <p class="footer_text">
        TERMENI SI CONDITII: ACESTA ESTE UN<br />SERVICIU DE DIVERTISMENT.
        PRIN<br />FOLOSIREA LUI DECLARATI CA AVETI 18 ANI IMPLINITI,
      </p>
    </footer>

    <div class="recorting">
      <div class="recorting__block"></div>
      <div class="recorting__loading"></div>
      <p class="recorting__percent"><span></span>%</p>
      <p class="recorting__title">Запись сообщения</p>
    </div>

    <div class="modal">
      <div class="modal__wrapper">
        <a href="/" class="modal__wrapper__btn"> Главная Страница</a>
      </div>
    </div>

    <script type="module" src="../js/requestCall.js"></script>
  </body>
</html>
