.questions_steps {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &__image {
    left: 0;
    width: 100%;
    max-width: 89px;
    position: absolute;
  }

  &__quest {
    @extend %title-16;
    color: rgba(255, 255, 255, 0.6);
  }
}
